@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");

body {
    background-color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 300
}

@media only screen and (max-width:768px) {
    .container {
        margin-top: 66px
    }
}

.height {
    height: 100vh
}

.card {
    border: none;
    cursor: pointer;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1)
}

.card:hover {
    background-color: #eee
}

.ratings i {
    color: orange
}

.testimonial-list {
    list-style: none
}

.testimonial-list li {
    margin-bottom: 20px
}

.testimonials-margin {
    margin-top: -19px
}



.social-text {
	padding: 0.7rem 0;
	font-size: 1rem;
	text-align: center;
  }
  
  .social-media {
	display: flex;
	justify-content: center;
  }





/* footer*/
.footer{
	position: relative;
	padding: 1%;
	left: 0;
	bottom: 0;
    width: 100%;
    text-align: center;
    justify-content: center;
    background: rgb(0,195,255);
    background: linear-gradient(90deg, rgba(0,195,255,1) 0%, rgba(0,119,255,1) 100%);
    color: #ffffff;
    font-size: 20px;
}